<div style="text-align:center">
  <h1>
      Welcome to {{ title }}!
      Have type: {{type}}.
  </h1>
  <input type={{type}} (input)="onChange($event)"
         [className]="state.className || state.validClassName" 
         [ngStyle]="state.style || state.validStyle"
         value={{value}} />
</div>